*.pyc
*.pyo
*.sqlite3
*.log
downloads/

# Python packaging
*.egg-info/
*.egg
dist/
build/
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# VS Code specific files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json